main {
  margin: 30px 0;
  padding-bottom: 60px;
  grid-column: 2;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

li.notepad-infos div {
  display: flex;
  justify-content: space-between;
}

li.notepad-infos {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
}

li.notepad-infos strong {
  display: block;
  font-size: 16px;
  color: #333;
}

li.notepad-infos div div {
  padding: 5px 10px;
  color: #c4c4c4;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
}

li.notepad-infos div div:hover {
  color: #ff4520;
}

li.notepad-infos textarea {
  padding: 7px;
  margin: 15px 0;
  width: 100%;
  height: 130px;
  font-size: 14px;
  color: #666;
  border: 0;
  background: #fff;
  resize: none;
}

li.notepad-infos .setPriority {
  padding: 5px 10px;
  color: #c4c4c4;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

li.notepad-infos .setPriority:hover {
  color: #ff957f;
}

/* cards com prioridade */
li.notepad-infos.priority{
  background: #ff957f;
}

li.notepad-infos.priority textarea{
  color: #fff;
  background: #ff957f;
}

li.notepad-infos.priority strong {
  color: #fff;
}

li.notepad-infos.priority .setPriority{
  color: #fff;
}
li.notepad-infos.priority .setPriority:hover {
  color: #e9e2e2;
}

li.notepad-infos.priority div div {
  color: #fff;
}
li.notepad-infos.priority  div div:hover {
  color: #ff4520;
}

@media (max-width: 850px) {
  main ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

